.visualizeMermaid__error {
  color: #f00;
  font-size: 10px;
  margin: 0;
}

.visualizeMermaid__error--hidden {
  display: none;
}

.visualizeMermaid__content {
  display: none;
}

.wp-block-visualize-mermaid .visualizeMermaid__textarea {
  width: 100%;
  padding: 10px;
  height: 100px;
  font-family: "Andale Mono", Monaco, monospace;
}
