.vizMermaid__error {
  color: #f00;
  font-size: 10px;
  margin: 0;
}

.vizMermaid__error--hidden {
  display: none;
}

.vizMermaid__content {
  display: none;
}

.wp-block-viz-mermaid .vizMermaid__textarea {
  width: 100%;
  padding: 10px;
  height: 100px;
  font-family: "Andale Mono", Monaco, monospace;
}
